# 2. First Steps with Python

In this lesson we're going to do some basic arithmetic with Python and also learn how to create variables and assign a value to them.

To get started I want you to open up Jupyter from your start menu and from the homepage select 'New' from the top right corner and then 'Python 3 Notebook'. This will open a new notebook for us to use.

## Basic Arithmetic

To get started we'll perform a few basic arithmetic functions.

To execute code you can use the 'Run Cell' option from the menu or Press Shift + Enter together. Note that if you ask Jupyter to output more than one thing in a cell, it will only output the last one. It's worth noting that all the code in the cell is executed but for now we'll keep things nice and simple.

In [1]:
4 - 2

2.5

In [2]:
1 * 2

2.5

In [4]:
4 / 2

2.0

In [3]:
5 / 2

2.5

You'll notice that there are no semi colons or brackets in the basic syntax and this is one of the things that makes Python different from other languages such as Javascript or R in that <strong>'Whitespace is significant'</strong>.

This means that spaces, tabs, indentation and hard returns (enter to create a new line) affect how Python reads your code. This has the effect of standardising Python code making it quicker and easier to pick up and understand code written by others.

We'll be finding out more about how whitespace works later on in the course.

## Variable Assignment



Variables are nothing more than references to data that Python has stored in memory. Python makes it really easy to assign values to a variable:

In [7]:
a = 1
b = 2

In [8]:
a + b

3

In [9]:
b - a

1

In [10]:
a * b

2

Note that Python is case sensitive!!!

In [11]:
A + B

NameError: name 'A' is not defined

In [12]:
(b + a) / a

3.0

## Objects

Just to re-iterate variables are 'Objects' within Python and we'll likely use the term 'Object' to describe variables. Note that:

* All variables are objects
* Not all objects are variables 

We'll meet more types of objects later on in the course.

## Variable types

Python splits variables into types.

<b>Integers</b> are whole numbers:

In [6]:
a = 1
b = 2
c = 345
d = 67890

<b>Floats</b> are perhaps better known as decimals:

In [7]:
e = 1.0
f = 2.1
g = 3.142
h = 4.1234567890

Python has a built in function called <strong>type()</strong> t</strong>hat can tell us the type of a variable or object. We'll learn more about functions later but for now we'll use the <strong>type()</strong> function with the integer and float functions that we've already created.

In [8]:
type(a)

int

In [10]:
type(e)

float

We can simply substitute the values in the arithmetic examples above for our newly created variables:

In [19]:
a + b

3

However (in most cases!) we can't mix int and floats when performing arithmetic:

In [29]:
c / g

TypeError: unsupported operand type(s) for /: 'int' and 'str'

Don't worry! There are ways around this which we'll look at a bit later on in the course!

## Strings and the print() function

<b>Strings</b> are another type of variable that store character data. When defining strings, the data may be surrounded by either single or double quotes, so long as you are consistent:

In [17]:
f = 'hello'
g = "world"

In [31]:
f

'hello'

In [32]:
f

'hello'

You can also store numbers as a string too:

In [33]:
h = '3.142'

In [34]:
h

'3.142'

In [35]:
type(h)

str

You'll notice that Jupyter prints variables automatically when you reference them like so:

In [36]:
h

'3.142'

However it will only print the last variable that you define:

In [37]:
a
b
c
d
e
f
g
h

'3.142'

If we wanted to print a series of values out, we could use the <strong>print()</strong> function which outputs the selected variables to the user:

In [41]:
print(a,b,c)
print(d,e)

1 2 345
67890 1.0

In [40]:
print(f,g)

hello world

You don't have to reference just variables within the print function either:

In [44]:
print (f,'big bad',g,'!')

hello big bad world !

It's worth noting that when using base python via the REPL, if you want Python to output values, you have to use the print function - it will not return a result when you simply reference a variable.

## Boolean and Logic

<b>Boolean</b> values refer to logic via True or False. Boolean values are created as follows:

In [46]:
h = True
i = False

In [49]:
print (h,i)

True False

We can also perform logic test with Bool values as follows:

In [50]:
j = 1
k = 2

Greater than:

In [51]:
a > b

False

Less than:

In [52]:
a < b

True

Less than or equal to:

In [53]:
a <= b

True

Equal to:

In [54]:
a == b

False

Not equal to:

In [55]:
a != b

True

## Converting between Variable Types

You'll find a big part of Python programming to be converting between types of things... In this case variables. As we saw earlier, Python didn't like it when we tried to mix our variable types through integers and floats although generally if it can do it, it will:

In [59]:
1.0 + 1

2.0

In the example below, you'll see that we've created four different types of variable... You'll also see that we've created some notes in the code as well! Notes are a good way of creating contextual comments in your code and generally it's good practice to include them as Python will ignore them when executing your code. There are two types of note as follows:

Multiline notes: These are placed inbetwen triple quote marks and as the name suggests they can break across lines.
Singleline notes: These are placed after a # character and will end at the end of the line.

In [61]:
''' Creating Some
      Variables '''

a1 = 1        # Integer  
b1 = 2.8      # Float
c1 = 'True'   # String
d1 = False    # Boolean

We'll now meet some new functions that allow us to convert our variables...

In [62]:
''' Converting between
        Variable Types '''

a2 = float(a1)    # Convert to Float
b2 = int(b1)      # Convert to Int
c2 = bool(c1)     # Convert to Bool
d2 = str(d1)      # Convert to String

And now we'll check that what we've done has worked...

In [65]:
print(
    a2,
    b2,
    c2,
    d2,
)

print(
type(a2),
type(b2),
type(c2),
type(d2),
)

1.0 2 True False
<class 'float'> <class 'int'> <class 'bool'> <class 'str'>

Note that whilst <strong>Whitespace is Significant!</strong> Python does occasionally give us some freedom, especially when we're using brackets.

## Tips when naming variables:

1. Can't start with a number.
2. Can't contain spaces
3. Can't contain :'",<>/?|\()!@#$%^&*~-+
4. Best practice to be lowercase
5. Try to make names meaningful... 

tax_rate instead of txrt

## Further Reading:

<a href="http://www.tutorialspoint.com/python/python_basic_operators.htm">Basic Operators</a>